body {
    background-color: #ffffff;
    color: #87cefa;
    min-height: 100vh;
  }
  
  main > header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    background-color: #87cefa;
    padding: 1em;
    margin: 0em;
  }
  main > header h1 {
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    margin: 1em;
    justify-self: center;
  }
  

  #content label {
    font-weight: normal;
  }
  #content > form {
    margin: 5em auto 0 auto; /* Espaço superior de 3em, sem margens laterais */
    padding: 1em;
    max-width: 20em;
    border: 1px solid #87cefa;
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form .success {
    font-weight: bold;
    color: #106af1;
  }
  #content > form input {
    background-color: white;
  }

  .button-container {
    margin-top: 1em; /* Espaçamento superior opcional entre o formulário e os botões */
}

.button-container button,
.button-container a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Espaço entre os botões (ajuste conforme necessário) */
}
  
  
  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #87cefa;
    border-color: black;
  }
  a.button {
    background-color: black;
    border-color: black;
  }
  a.button.button-outline {
    color: #87cefa;
    border-color: black;
  }
  a {
    color: black;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #87cefa;
  }
  
  #searchIcon {
    color: black; /* Definir a cor do ícone como preto */
}


  #search input[type="text"] {
    /* Estilos específicos para o campo de entrada no formulário com ID "meuFormulario" */
    padding: 6px;
    font-size: 12px;
    border-radius: 4px 0 0 4px;
    border-color: black;
  }

  #search input[type="search"]:focus {
    
    border-color: black; /* Define a cor da borda para preto quando em foco */
    box-shadow: none; /* Remove a sombra que aparece por padrão */
}
  
  #search button[type="submit"] {
    background-color: #87cefa;
    color: black;
    border: 1px solid #87cefa;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    line-height: 1.8; /* Ajuste este valor conforme necessário */
}


.star{

  margin-left: 10px; /* Move para a direita */
}

.project-header{
  display:flex;
 align-items:center;
}

.btn.no-border {
  background-color: transparent;
  border: none;
  padding: 0; /* Remove o espaçamento interno */
}




footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #87cefa; /* Cor de fundo do footer */
  padding: 0.5em;
  margin: 0.5em;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

footer li {
  margin-right: 20px; /* Espaçamento entre os links */
}

footer a {
  color: #fff; /* Cor do texto dos links */
  text-decoration: none;
}


dialog::backdrop{
  background-color: rgb(0,0,0/.5);
}

dialog{
  border:none;
  border-radius: .5em;
  box-shadow:0 0 1em rgb(0,0,0/.3);
  width: 80%;
}

.profile img, img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 310px;
  right: 50px;
}
.fa-solid.fa-house {
  font-size: 0.8em;
  vertical-align: middle;
  left: 100px;
}
#allProjects .content-text,
#favoriteProjects .content-text,
#archived .content-text,
#leader .content-text,
#member .content-text {
    color: #333; /* Altere para a cor desejada */
}