body {
    background-color: #ffffff;
    color: #3B3561;
    min-height: 100vh;
  }
  
  main > header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    background-color: #ffffff;
    padding: 1em;
    margin: 0em;
  }
  main > header h1 {
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    border-radius: 25px 25px 25px 25px;
    margin: 1em;
    justify-self: center;
  }
  

  #content label {
    font-weight: normal;
  }
  #content > form {
    border-radius: 25px;
    margin: 5em auto 0 auto; /* Espaço superior de 3em, sem margens laterais */
    padding: 1em;
    max-width: 20em;
    border: 1px solid #3B3561;
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form .success {
    font-weight: bold;
    color: #51A3A3;
  }
  #content > form input {
    border-radius: 25px;
    background-color: white;
  }

  .button-container {
    margin-top: 1em; /* Espaçamento superior opcional entre o formulário e os botões */
}

.button-container button,
.button-container a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Espaço entre os botões (ajuste conforme necessário) */
}
  
  
/**
  * Override milligram colors
  * Some styles might be missing
  **/
button {
  border-radius: 25px 25px 25px 25px;
  background-color: #3B3561;
  border-color: #3B3561;
}
a.button {
  border-radius: 25px 25px 25px 25px;
  background-color: #3B3561;
  border-color: #3B3561;
}
a.button.button-outline {
  color: #3B3561;
  border-color: #3B3561;
}
a {
  color: black;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #3B3561;
}
  
/* Estilos para o input */
#searchInput {
  width: 700px;
  height: 35px;
  font-size: 14px;
  padding: 6px 8px;
  display: block;
  margin: 0 auto;
  /* Adiciona flexbox para alinhar os itens na barra */
  display: flex;
  align-items: center;
  border-radius: 25px;
  
}

/* Estilos para o ícone de busca */
#searchIcon {
  color: #3B3561;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 1020px;
  margin-top: -25px;
}


#search input[type="text"] {
  /* Estilos específicos para o campo de entrada no formulário com ID "meuFormulario" */
  padding: 6px;
  font-size: 12px;
  border-radius: 25px 25px 25px 25px;
  border-color: #3B3561;
  width: 10px;
  height: 30px;
  margin-right: 5px;
}

#search input[type="search"]:focus {
  
  border-color: #3B3561; /* Define a cor da borda para preto quando em foco */
  box-shadow: none; /* Remove a sombra que aparece por padrão */
}
  
#search button[type="submit"] {
  background-color: #3B3561;
  color: #3B3561;
  border: 1px solid #3B3561;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  line-height: 1.8; /* Ajuste este valor conforme necessário */
  width: 10px;
  height: 30px;
}

.star{

  margin-left: 10px; /* Move para a direita */
}

.project-header{
  display:flex;
 align-items:center;
}

.btn.no-border {
  background-color: transparent;
  border: none;
  padding: 0; /* Remove o espaçamento interno */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #3B3561; /* Cor de fundo do footer */
  padding: 0;
  margin: 0;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0;
}

footer li {
  margin-right: 0px; /* Espaçamento entre os links */
}

footer ul li:last-child{
  margin-right: 0;
}

footer a {
  color: #fff; /* Cor do texto dos links */
  text-decoration: none;
}


dialog::backdrop{
  background-color: rgb(0,0,0/.5);
}

dialog{
  border:none;
  border-radius: 25px 25px 25px 25px;
  box-shadow:0 0 1em rgb(0,0,0/.3);
  width: 80%;
}

.profile img, img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 30px;
}

.fa-solid.fa-house {
  font-size: 0.8em;
  vertical-align: middle;
  left: 100px;
}

#allProjects .content-text,
#favoriteProjects .content-text,
#archived .content-text,
#leader .content-text,
#member .content-text {
    color: #333; 
}

#priorityFilter {
  width: 150px; 
  height: 30px; 
  font-size: 14px; 
  padding: 5px; 
  position: absolute;
  top: 250px; 
  right: 10px; 
}

input:focus, textarea:focus {
  border-color: black; /* Define a cor da borda como preta quando em foco */
  /* Outros estilos de foco, se necessário */
}
#title:focus {
  border-color: black; /* Define a cor da borda como preta quando em foco */
  /* Outros estilos de foco para o campo de título, se necessário */
}

.error{
  color:red;
  margin-top: 1px;
  margin-bottom: 4px;
  
}

.button-container form {
  display: inline-block; /* Exibe os formulários como elementos inline */
  margin-right: 10px; /* Espaçamento entre os formulários (ajuste conforme necessário) */
}


#searchTask {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.searchTask-container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
}

#searchTaskInput {
  flex: 1;
  padding: 6px;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 25px;
}

/* Estilos para os ícones de busca */
#searchTaskIcon {
  cursor: pointer;
  color: #3B3561;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.task-card {
  border: 1px solid #87cefa;
  border-radius: 25px 25px 25px 25px;
  padding: 10px;
  margin-top: 150px;
  margin-left: -1000px; /* Adicione um espaçamento do lado esquerdo */
  width: 400px;
  font-size: medium;
  
}
.tasksContainer{
  display: flex;
  flex-wrap: wrap;
}

form#deleteTask {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

.comment {
  border: 1px solid #ccc; /* Adiciona uma borda ao redor de cada comentário */
  padding: 10px;
  margin-bottom: 10px;
  font-size: medium;
}

form#deleteComment{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul{
  font-size: large;
}

#tasksContainer {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    max-width: 800%;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    border-radius: 25px 25px 25px 25px;
    display: flex;
}

#searchTaskInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    margin-right: 5px;
}

#searchTaskIcon {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 40px;
    height: 35px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre a foto e as informações do usuário */
  padding: 20px; /* Espaçamento interno */
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px; /* Adjust the width as per your design */
  margin: 0 auto; /* Center the container */
}

.user-square {
  width: calc(20% - 20px); /* 20% width for 5 squares per row with 20px gap */
  height: 150px; /* Set your preferred height */
  border: 1px solid #ccc; /* Border style */
  border-radius: 8px; /* Rounded corners */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Include padding in width calculation */
}

.user-square p {
  margin: 0;
}

.user-square button {
  width: 100%;
  padding: 5px;
}
/*
.project-square {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 5px;
  width: calc(33.33% - 50px);
  height: 150px;
  display: inline-block;
  text-align: center;
}

.project-details .button-container button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.project-square {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 5px;
  width: calc(20% - 15px);
  height: 150px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-details .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.project-details .project-square button {
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}


/*
########## CORES ##########
amarelo - #EAD94C
azul escuro - #3B3561
azul claro - #51A3A3
cinzento - #D1D1D1
rosa - #DD7373
*/